{{template "partials/header" .}}

<form novalidate method="post" class="auth">
  <h1>Sign up</h1>
  {{if .errors}}
    <div class="error mb-4">{{range .errors}}{{.}}<br/>{{end}}</div>
  {{end}}
  <label class="label">Name</label>
  <input class="input mb-4" name="name" value="{{.user.Name}}" />
  <label class="label">Username</label>
  <input class="input mb-4" name="username" value="{{.user.Username}}" />
  <label class="label">Password</label>
  <input class="input mb-4" name="password" type="password" />
  <button class="button mb-4" type="submit">Sign up</button>
  <div>Have an account? <a href="/signin/">Log in</a></div>
</form>

{{template "partials/footer" .}}
