<!doctype html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/assets/favicon.png" />
  <link rel="stylesheet" href="/assets/styles.css" />
  <title>{{if .title}}{{.title}} | {{end}}{{env "COMPANY_NAME"}}</title>
  <script src="/assets/turbo.js"></script>
</head>
<body class="marketing">
<div class="nav container">
  <a href="/"><img src="/assets/logo-text.png" height="37px" /></a>
  <div class="text-center">
    <a class="" href="#overview">Overview</a>
    <a class="ml-4" href="#why">Why</a>
    <a class="ml-4" href="#integrations">Integrations</a>
  </div>
  <div class="text-right">
    <a class="button button-lg" href="/farm/">Launch App</a>
  </div>
</div>
<div class="page">
<div class="container">
